<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
  <script type="module">
    import RefreshRuntime from "http://localhost:5173/@react-refresh"
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/js/main.jsx"></script>
</head>

{%- if config.extra.background_image -%}
{%- set image = config.extra.background_image -%}
{%- else -%}
{%- set image = "/assets/background.jpg" -%}
{%- endif -%}

<body style='background-image: url("{{image}}")'>
  <div box-="round" shear-="top" id="files">
    <span is-="badge">File Manager</span>

    {%- include "components/files.html" -%}
  </div>

  <div box-="round" shear-="top">
    <span is-="badge">Tabs</span>
    <div id="tabs" class="tabs"></div>
  </div>

  <main box-="round" shear-="top">
    <span is-="badge">File Content</span>
    <div class="content" id="content">
      {%- block content -%}{% endblock %}
    </div>
  </main>

  <div id="terminal">
    {#%- include "components/prompt.html" -%#}
  </div>
</body>

</html>
